* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", "Hind";
    background-color: lightslategray;
}

/* Nav Bar */
ul {
    background-color: #444e5c;
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: flex-end;
    padding: 2rem;
    font-size: x-large;
}

ul a {
    text-decoration: none;
    /* color: #002333; */
    color: white;
}

ul-icons,
i {
    color: white;
}

button {
    font-family: "Montserrat", "Hind";
    background-color: #002333;
    color: white;
    border-radius: 5px;
}

/* Main Content */

.main-content {
    /* border: 1px solid; */
    /* margin: 30px;
    margin-top: 10rem; */

    /* Center  */
    /* max-width: fit-content;
    margin-left: auto;
    margin-right: auto; */

    /* Center with flex */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

main p {
    color: #b2cef2;
}

h1,
h2,
h3 {
    margin: 0;
}

.h2-name {
    /* color: #002333; */
    color: white;
    font-size: 4rem;
}